body {
  text-align: center;
  margin: 0;
  background-color: #fdfdfd;
  font-family: Arial, Helvetica, sans-serif;
  color: #264653;
}

header,
h1 {
  color: #2a9d8f;
  font-size: 2em;
}
#container {
  margin: 30px auto;
  max-width: 65%;
  font-size: 18px;
  text-align: start;
}
.input-container {
  background-color: white;
  border-radius: 10px;
  padding: 25px 15px 5px;
  font-size: 18px;
  color: rgb(44, 44, 44);
  font-style: italic;
  box-shadow: 0 4px 30px 0 rgba(39, 33, 66, 0.03);
}

.poem {
  background-color: white;
  border-radius: 10px;
  border-left: #2a9d8f 5px solid;
  color: #264653;
  font-size: 20px;
  padding: 15px;
  margin: 20px 0;
  line-height: 2;
  box-shadow: 0 4px 30px 0 rgba(39, 33, 66, 0.03);
}
.hidden {
  display: none;
}

input {
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.text-submit {
  width: 60%;
  color: #e76f51;
  border: #e9c46a solid 2px;
}

textarea:focus,
input:focus {
  outline: none;
}

.submit-btn {
  margin-left: 10px;
  border: #e76f51 2px solid;
  font-size: 20px;
  background-color: #e76f51;
  color: #fff;
  padding: 5px 10px;
}
.submit-btn:hover {
  background-color: #fff;
  color: #e76f51;
}

h1 {
  margin: 20px 0 0;
}

a {
  text-decoration: none;
  color: #f4a261;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s ease-in-out 0s infinite;
}
